<%- include("./partials/head") %>
<!-- <%- include("./partials/header") %> -->

<main>
    <h1>Deletar usuário</h1>
    <% if(locals.aluno){ %>
        <div>
        <img src="../../public/img/aluno.png" alt="">
        <span><%= aluno.nome %></span>
        <span><%= aluno.email %></span>
        <span><%= aluno.data_nascimento %></span>
        <span><%= aluno.celular %></span>
        <span><%= aluno.curso_id %></span>

        </div>
        <form action="/aluno/delete/<%= aluno.id %>?_method=delete" method="post">
        <h2 class="error-alert">Deseja deletar esse aluno?</h2>
        <a href="/aluno"><button type="button">Não</button></a>
        <button type="submit">Sim</button>
        </form>
    <% } else {%>
        <h2 class="error-alert">Usuário não encontrado por motivos do além</h2>
    <% } %>
</main>

<%- include("./partials/footer") %>
